<launch>
	<node name="rosflight" pkg="rosflight" type="rosflight_io" output="screen">
		<param name="port" value="/dev/ttyUSB0"/>
    	</node>
	
	<include file="$(find realsense2_camera)/launch/rs_rgbd.launch"/>
	
	<include file="$(find demo_rgbd)/launch/demo_rgbd.launch"/>

	<include file="$(find rgbd_to_velocity)/launch/rgbd_to_velocity.launch"/>
	
	

</launch>
